{% extends "base.html" %}

{% block content %}
<div id="content-inside">
    <div id="page-description">
        <article>{{ title }}</article>
        <div>
            <p>
                Tu nájdete všetky potrebné informácie na to, aby ste nás
                mohli kontaktovať. Ak máte akékoľvek otázky, pripomienky alebo návrhy, neváhajte nás
                kontaktovať prostredníctvom uvedených údajov nižšie.
            </p>
            <p>
                Rádi vám poskytneme ďalšie informácie a odpovieme na vaše otázky.
                Tešíme sa na vašu spätnú väzbu!
            </p>
            <p>
                Vďaka za váš záujem o našu organizáciu.
            </p>
            <address class="color">Brhlovce 106, Dolné Brhlovce, Slovakia, 93502</address>
            <a href="tel:+421908423433" class="color">0908 423 433</a>
            <a href="mailto:terraaurum@gmail.com" class="color">terraaurum@gmail.com</a>
        </div>
    </div>
</div>
{% endblock %}