{% extends "base.html" %}

{% block content %}
<div id="content-inside">
    <div id="page-description">
        <article class="color">{{ title }}</article>
        <div>
            <p>
                Vitajte na stránke s dokumentmi Občianskeho združenia Terra Aurum.
                Naša organizácia je zameraná na ochranu a uchovávanie kultúrneho
                dedičstva a hodnôt našej krajiny. Na tejto stránke nájdete rôzne
                dokumenty, ktoré sú dôležité pre našu činnosť a našich členov.
            </p>
        </div>
    </div>
    <div>
        <h3 class="color">Dokumenty na Dispozícii:</h3>
        <ul>
            <li><a href="/dokumenty/statut.pdf">Štatút Združenia</a></li>
            <p>
                Naša organizácia riadi svoje aktivity v súlade so stanovami,
                ktoré určujú naše ciele, práva a povinnosti.
            </p>
            <li><a href="/dokumenty/vyrocne-spravy">Výročné Správy</a></li>
            <p>
                Pravidelne pripravujeme výročné správy, ktoré obsahujú
                prehľad našich aktivít a dosiahnutých výsledkov počas každého
                kalendárneho roka.
            </p>
            <li><a href="/dokumenty/projekty-programy">Projekty a Programy</a></li>
            <p>
                Tu môžete nájsť podrobnosti o našich rôznych projektoch a
                programoch, ktoré sme vykonali alebo plánujeme realizovať v budúcnosti.
            </p>
            <li><a href="/dokumenty/formulare-oznamenia">Formuláre a Oznámenia</a></li>
            <p>
                Pre našich členov a záujemcov sme pripravili rôzne
                formuláre a oznámenia, ktoré im uľahčujú účasť v našich iniciatívach a projektov.
            </p>
        </ul>
        <p>
            Naším cieľom je zabezpečiť transparentnosť  a spravodlivosť vo všetkých
            našich aktivitách, a preto sme sa rozhodli zverejniť tieto dokumenty pre
            verejnosť. Ak máte akékoľvek otázky alebo potrebujete ďalšie informácie
            o našej činnosti, neváhajte nás kontaktovať. Ďakujeme za vašu podporu a
            záujem o naše úsilie na ochranu a uchovávanie našej kultúrnej dedičiny.
        </p>
    </div>
</div>
{% endblock %}