{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="main">
    <div>
        <h1 class="color">Terra Aurum</h1>
        <h3>
            Občianske združenie Terra Aurum je nezávislým,
            dobrovoľným občianskym združením s pôsobením v SR.
        </h3>
        <p>
            Hlavným cieľom občianskeho združenia Terra Aurum je
            zachovanie ľudovej kultúry ako zlatého dedičstva krajiny
            prostredníctvom rezilienčných postupov v činnosti a aktivitách
            obyvateľov vidieckych sídel, pomocou podpory aktivít v
            sídle zameraných na sociálny, kultúrny, športový, vzdelávací,
            ekonomický rozvoj, rozvoj turizmu a i. rozvoj s dôrazom na
            rešpektovanie, ochranu a udržiavanie ľudovej kultúry, zvykov
            a tradícií sídla, hodnôt a potenciálu regiónu a kultúrneho dedičstva.
        </p>
    </div>
</div>
<div id="main-2">
    <p>
        "Ak sa zachovajú z minulosti špecifické črty starej slovenskej tvorivosti, nezáleží
        v skutočnosti na hŕstke tých, ktorí sa o to starajú profesionálne z úradnej povinnosti,
        ale na uvedomelej vôli slovenského národného kolektívu, ktorý si tak stavia pred oči
        zrkadlo zobrazujúce smer a intenzitu jeho vlastného prítomného života." - Václav Mencl, 1954
    </p>
</div>
{% endblock %}