/* Events page css */
.events-block {}
.events-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 20px;

    .event {
        background-color: #EEEFEB;
        padding: 5%;
        & .event-header {
            & a {
                & h4 {
                    margin: 20px 0 0 0;
                    height: 100px;
                }
            }
        }
        p {font-size: smaller;}
    }
}



@media screen and (max-width: 426px) {
    #content-inside > div:nth-child(2) {
        padding: 2% 5%;
    }

    .events-content {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 0;
    }

    .event {padding: 0%;}

}
