/* Events page css */

#events {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.event {width: 25%; padding: 3%;}
.event p {font-size: smaller;}
