/* Events page css */
.events-block {}
.events-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 20px;
}

.event {padding: 5%;}
.event p {font-size: smaller;}


/* Event page css */
