/* Index webpage  */
#terra-aurum {
    display: flex;
    text-align: center;
    background-image: url(../img/main-page.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: top right;
    min-height: 430px;
}
#terra-aurum div {
    padding: 2% 10%;
    width: 30%;
}
#terra-aurum p {font-size: 14px;}

#quote-section {
    margin-top: 5%;
    padding: 3% 5%;
}
#quote-section p {
    font-style: italic;
    font-size: 20px;
    text-align: -webkit-center;
}

/* Events block */
.main-events-block {
    margin: 0 5%;
    margin-top: 25px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}
.main-events-block h1 {font-weight: 400;}
#main-events {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.main-event {
    min-width: 95%;
    padding-right: 5%;
    scroll-snap-align: center;
}
.main-event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contact form */
.contact-form {
    margin: 0 5%;
    margin-top: 25px;
}
.contact-form form {
    padding: 2%;
    background-color: #efd16f;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-form form > div {
    padding: 5px;
    width: 98%;
}
.contact-form form div > label {
    color: #B2863A;
    font-style: italic;
    position: absolute;
    padding: 5px 10px;
}
.contact-form form div > input,textarea {
    font-family: "Cinzel", sans-serif;
    font-size: large;
    border: none;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
}
.contact-form form div input {
    padding-top: 15px;
    height: 50px;
}
.contact-form form div textarea {
    padding-top: 30px;
}

/* Full name inputs */
.form-full-name {
    display: flex;
    flex-direction: row;
}
.form-full-name div {width: 50%;}
.form-full-name div:first-child {padding-right: 20px;}

/* Form Button */
.contact-form form button {
    padding: 1%;
    margin-left: 5px;
    width: 200px;
}


/* Media */
@media screen and (max-width: 800px) {
    #terra-aurum {
        background-image: none;
        min-height: unset;
    }
    #terra-aurum div {
        width: 100%;
    }
}

/*
#main-events::-webkit-scrollbar {
    width: 2px;
}
#main-events::-webkit-scrollbar-track {
    background: #B2863A;
}
#main-events::-webkit-scrollbar-thumb {
    background: #EEEFEB;
    border-radius: 5px;
}

@media screen and (max-width: 1070px) {
    #main {max-height: 435px;}
}
*/