body {
    margin: 0;
    font-family: "Cinzel", sans-serif;
}
a {text-decoration: none;}
button {
    font-family: "Cinzel", sans-serif;
    border: NONE;
    font-size: large;
}


.color {color: #B2863A;}
.s-color {color: #EEEFEB;}
.t-color {color: #634411;}
.b-color {background-color: #EEEFEB;}
.sb-color {background-color: #B2863A;}
.tb-color {background-color: #634411;}
.light-font {font-weight: 400;}

header {
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a {margin: 0 2%;}
header input {
    border: 0;
    margin-left: 4%;
    padding: 1%;
}
header input::placeholder {color: #EEEFEB;}
#nav-logo {width: 250px;}
#nav-logo img {width: 100%;}
#nav-bar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu-button {
    display: none;
    height: 40px;
    width: 40px;
    position: relative;
    border: 0;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}
#menu-button span {
    position: absolute;
    width: 30px;
    height: 1px;
    left: 5px;
}
#menu-button span:nth-child(1) {
    transform: translateY(10px);
}
#menu-button span:nth-child(2) {
    transform: translateY(-10px);
}


#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
#content-inside {padding: 0 5%;}
#page-description {padding: 5%;}
#page-description article {font-size: xx-large;}

footer {
    position: absolute;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    margin-top: 5%;
}
footer div {}
#social-media {text-align: center; width: 50%;}
#social-media p {padding: 5%; margin: 0; background-image: url(../img/gold.png);}
#social-media div {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
#social-media div a img {width: 25%; border-radius: 50%;}

#communication {
    width: 50%;
    padding: 2% 5%;
    text-align: end;
}
#communication a {}

@media screen and (max-width: 800px) {
    #menu-button {
        display: block;
    }
    #nav-bar {
        position: absolute;
        left: -400px;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 350px;
        padding: 100px 20px 20px 20px;
        background-color: #B2863A;
        z-index: 1;
        transition: transform .5s;
    }
    #nav-bar a {color: white;}

    header {
        justify-content: space-between;
        padding: 0 5%;
    }
    header div a {
        width: 100%;
        margin-left: 30px;
        margin-top: 10px;
    }
    #header.open #nav-bar {
        transform: translateX(100%);
    }

    footer {font-size: 14px;}
}

@media screen and (max-width: 426px) {
    header div a {
        width: 100%;
        margin-left: 10px;
    }

    footer {flex-direction: column-reverse;}
    #communication {
        width: unset;
        padding: 5%;
        text-align: center;
    }
    #communication p {margin: 5px;}

    #social-media {width: 100%;}
    #social-media p {display: none;}
}