{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% include './core/parts/css.html' %}
    {% include './core/parts/js.html' %}
</head>
<body>
    <header id="header">{% include './core/parts/header.html' %}</header>
    <main>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>{% include './core/parts/footer.html' %}</footer>
    </main>
</body>
</html>