{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'webapp/img/favicon.png' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'webapp/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/events.css' %}">
    {% include './core/parts/css.html' %}
    {% block extra_css %}{% endblock %}
    <!-- JS -->
    <script src="{% static 'webapp/js/side_bar.js' %}" defer></script>
    <script src="{% static 'webapp/js/nav_a_color.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
    <header id="header">{% include './core/parts/header.html' %}</header>
    <main>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer>{% include './core/parts/footer.html' %}</footer>
    </main>
</body>
</html>