/* Events page css */
.events-block {margin-top: 25px;}
.events-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.event {
    width: 25%;
    padding-right: 3%;
}
.event p {font-size: smaller;}


/* Event page css */
