{% extends "base.html" %}

{% block content %}
{% if event.photo %}
<div class="event-header" style="background-image: url('{{ event.photo.url }}');">
    <a href="{% url 'events' %}"><-</a>
    <h1>{{ event.title }}</h1>
    <p><i>{{ event.time }}</i></p>
    {% if event.requires_reservation %}
        <p><i>Zostalo lístkov: {{ available_tickets }}</i></p>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
</div>
{% else %}
<div class="no-photo event-header">
    <a href="{% url 'events' %}"><-</a>
    <h1>{{ event.title }}</h1>
    <p><i>{{ event.time }}</i></p>
    {% if event.requires_reservation %}
        <p><i>Zostalo lístkov: {{ available_tickets }}</i></p>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
</div>
{% endif %}

<div class="event-content">
    <div id="even-description">
        <p>{{ event.description|linebreaks }}</p>
    </div>
    {% if event.requires_reservation %}
    <div id="reservation_form">
        <h2>Rezervovať lístky</h2>
        {% if available_tickets > 0 %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class='index-button' type="submit">Potvrdiť</button>
            </form>
        {% else %}
            <p>Všetky lístky sú vypredané.</p>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}