<div id="social-media" class="tb-color">
    <p class="s-color">
        Všetky aktuality a zaujímavosti nájdete na
        našich oficiálnych sociálnych sieťach. Budeme
        radi, ak nás na nich budete sledovať.
    </p>
    <div>
        <img src="" alt=""><img src="" alt=""><img src="" alt="">
    </div>
</div>
<div id="communication">
    <p>Tel: <a href="tel:+43100000000" class="color">+43100000000</a></p>
    <p>Email: <a href="mailto:terraaurum@gmail.com" class="color">terraaurum@gmail.com</a></p>
    <address>Brhlovce 106</address>
</div>