<div id="social-media" class="tb-color">
    <p class="t-color">
        Všetky aktuality a zaujímavosti nájdete na
        našich oficiálnych sociálnych sieťach. Budeme
        radi, ak nás na nich budete sledovať.
    </p>
    <div>
        <img src="" alt=""><img src="" alt=""><img src="" alt="">
    </div>
</div>
<div id="communication">
    <p><a href="tel:+421908423433" class="color">0908 423 433</a></p>
    <p><a href="mailto:terraaurum@gmail.com" class="color">terraaurum@gmail.com</a></p>
    <address class="color">Brhlovce 106, Dolné Brhlovce, Slovakia, 93502</address>
</div>