/* Events page css */
.events-block {
    margin-bottom: 5%;
    & h2 {
        padding: 2% 0;
        margin-bottom: 2%;
        color: var(--s-color);
    }
}
.events-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 20px;

    & .event {
        background-color: var(--background-color);
        & .event-header {
            display: flex;
            flex-direction: column;
            background-size: cover;
            padding: 10%;
            & a {
                & h4 {
                    color: var(--s-color);
                    margin: 10px 0 0 0;
                    height: 70px;
                }
            }
            & p {font-style: italic;}
        }
        & .event-content {
            padding: 10%;
        }
        & p {
            color: var(--s-color);
            font-size: smaller;
        }
    }
}

/* Event */
#content > .event-header {
        color: var(--s-color);
        padding: 150px 5% 0 5%;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#content > .event-content {
        color: var(--s-color);
        & img {width: 100%;};
        padding: 5%;
}

#content > .no-photo {
    color: var(--s-color);
    padding: 250px 9% 0 9%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#even-description {
    padding: 0 5% 2% 5%;
}
#reservation_form {
    padding: 0 5% 2% 5%;
    & form {
        margin-top: 3%;
        padding: 2%;
        background-color: var(--background-color);
        & p {
            display: flex;
            flex-direction: column;
            & label {
                padding-bottom: 1%;
            }
            & input {
                width: 250px;
                padding: 5px;
            }
        }
        & .button {
            margin-top: 1%;
            padding: 5px 20px;
        }
    }
}

/* Media */
@media screen and (max-width: 426px) {
    #content-inside > div:nth-child(2) {
        padding: 2% 5%;
    }
    .events-content {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 0;
    }
    .event {padding: 0%;}
}
